<section>
  <%= image_tag "andy.jpg", size: "150x150" %>
  <h3>Andy Pickler</h3>
  <article>
    <p>Ruby on Rails, Groovy/Grails, Java, Solr Developer</p>
    <p><a href="http://www.linkedin.com/in/andypickler">LinkedIn</a></p>
  </article>
</section>